body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    width: 100%;
    background-color: chocolate;
}

header .top-header {
    background-color: rgb(60, 60, 223);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .top-header button {
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

header .top-header button:active {
    transform: scale(0.95);
}

header .top-header button a {
    text-decoration:solid;
} 
header .top-header .btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    background-color: greenyellow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform:uppercase;
}

header .top-header .btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    background-color: aqua;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform:uppercase;
}

header .search-header form input {
    width: 800px;
    height: 37px;
    border-radius: 10px;
    text-indent: 12px;
    margin: 10px;
    margin-left: 9px;
}

header .search-header form button {
    height: 37px;
    width: 60px;
    border-radius: 12px;
}

header menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
}

header menu li {
    margin-bottom: 10px;
}

header menu li a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: solid;
    color: rgb(228, 228, 228);
}

/* MAIN */

main {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: 100vh;
    background-color: white;

}

main .post-site {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 300px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
}

main .post-title {
    font-size: 1.2em;
    margin: 10px;
}

main .post-site .p-line {
    text-decoration: line-through;
    color: red;
}

main .btn-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}

main .box-num {
    width: 40px;
    height: 20px;
    margin: 2px;
}

main .box-num::-webkit-scrollbar-button{
    background-color: black;
}

main .btn-buy-click {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    color: white;
    width: 100px;
    height: 25.8px;
    border-style: none;
    border-radius: 4px;
    background-color: rgb(110, 146, 244);
    cursor: pointer;
}

main .btn-buy-click:active {
    transform: scale(0.95);
}
/* FOOTER 8/